<form method="post">
  {{!-- //default value: method get, action: "" --}}
  <div class="form-group mt-4">
    <label for="search-i">Tim kiem</label>
    <input type="text" name="q" class="form-control" id="search-i" aria-describedby="" placeholder="Nhap vao tu khoa">
  </div>

  <div class="form-group">
    <label for="gender-i">--Gender--</label>
    <select name="gender" id="gender-i">
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>